@tailwind base;
@tailwind components;
@tailwind utilities;

.screen-h {
  min-height: calc(100vh - 8rem);
}

@media (max-width: 768px) {
  .screen-h {
    min-height: calc(100vh - 8rem);
    height: auto;
  }
}
